html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
	height: 100%;
}
textarea:focus, input:focus{
	outline: 0;
}
strong {
	font-weight: bold;
}
.clear-float { clear: both; }

body {
  	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f2f2f2;
}

#body-wrapper {
	min-width: 660px;
	min-height: 100%;
	margin: 0px auto -50px auto;
}

input[type="submit"], button, a.button {
	padding:5px 8px;
	background-color:#599bb3;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	border: 0px;
	border-radius:8px;
	text-decoration: none;
	color: #fff;
	cursor:pointer;
}

input[type="submit"]:active, button:active, a.button:active {
	position:relative;
	top:1px;
}

header {
  width: 100%;
  min-width: 660px;
  background: #000;
  height: 70px;
}

header #head-contw {
  margin: 0px auto;
}

header #head-title {
  float: left;
}

header #head-title img {
  margin: 4px;
  height: 60px;
}

header #head-menu {
  float: right;
}

header #head-menu li {
  display: inline-block;
  margin: 0px 9px;
}

header #head-menu li a.menu-item {
  line-height: 70px;
  color: #fff;
  font-size: 1.1em;
  text-decoration: none;
}

header #head-menu li a.menu-item:hover {
  color: #990000;
}

#body-container {
	padding: 12px 0px;
}

.body-element {
	min-width: 660px;
	max-width: 1200px;
	display: block;
	margin: 0px auto;
}

.body-element-small {
	width: 800px;
}

.body-element-title {
	height: 30px;
	background: #008AE6;
	color: #fff;
	font-size: 1.1em;
}

.body-element-title h1 {
	margin: 0px 18px;
	line-height: 30px;
}

.body-element-cont {
	margin: 0px auto;
	background: #fff;
	border: 3px solid #e7e7e7;
	border-radius: 2px;
}

footer, .push {
	height: 50px;
}

footer {
	min-width: 660px;
	width: 100%;
  	background: #333;
	text-align: center;
	line-height: 50px;
	color: #fff;
}

footer a {
	text-decoration: none;
	color: #bbf;
}

.form-element {
	width: 480px;
	margin: 12px auto;
}

.form-element .form-line {
	margin: 3px auto;
}

.form-element .form-line-error {
	margin: 0px auto 12px;
	text-align: center;
	color: #f00;
}

.form-element .form-line .form-line-space {
	height: 8px;
}

.form-element .form-line .form-line-input {
	display: inline-block;
	width: auto;
}

.form-line-input input[type="text"], .form-line-input input[type="password"], textarea {
	margin: 0;
	padding: 3px;
	border: 2px solid #ccc;
	border-radius: 5px;
	text-align: center;
}

.form-line-input input[type="text"]:focus, .form-line-input input[type="password"]:focus, textarea:focus {
	border: 2px solid #bbf;
	border-radius: 5px;
}
